.Cellars {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6a3352;
  width: 100%;
  max-width: 650px;
  margin-top: 2vh;

  & > h2 {
    font-size: 1.2em;
  }
}

.Cellars-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #6a3352;
  font-weight: bold;
  margin-top: 2vh;

  .MuiButtonBase-root {
    &:hover {
      background-color: transparent;
    }
  }

  .cellar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .trash-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
    }
  }

  .MuiListItemIcon-root {
    color: #6a3352;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > h2 {
    text-align: center;
    padding-bottom: 2vh !important;
  }

  hr {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Cellar-card {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: start;
  width: 100%;
  max-width: 300px;

  .addCellar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #6a3352;
    font-size: 0.8em;
    padding: 10px 10px;
    opacity: 40%;

    h2 {
      font-weight: bold;
      opacity: 100%;
      color: white;
      text-transform: none;
    }

    svg {
      position: relative;
      font-size: 4em;
      opacity: 100%;
      color: white;
    }
  }
}
