.Homepage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 75%;
  color: #ffe599;

  .Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 350px;

    .MuiFormControl-root {
      width: 100%;
    }

    .MuiOutlinedInput-root {
      border-color: #ffe599;
      border: 1px solid #ffe599;
      border-radius: 10px;
    }

    .Mui-focused {
      color: #ffe599 !important;
    }

    .MuiInputBase-input {
      background-color: transparent;
    }

    .MuiInputLabel-root {
      color: #ffe599;
      opacity: 50%;
      font-family: "Open Sans", sans-serif;
      padding-bottom: 10px;
      line-height: 1em;
    }

    .MuiOutlinedInput-root {
      color: #ffe599;
    }

    .valider {
      margin: 20px;
      width: 200px;
      font-weight: bold;
      background-color: #ffe599;
      color: #6a3352;
      letter-spacing: 0.2em;
      border-radius: 10px;
    }

    a {
      font-size: small;
      color: #ffe599;
    }

    span {
      text-decoration: underline;
    }
  }
}
