.Homepage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 75%;
  color: #ffe599;

  .Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;

    @media only screen and (min-width: 390px) {
      width: 320px;
    }

    .MuiFormControl-root {
      width: 100%;
    }

    .css-1ptx2yq-MuiInputBase-root-MuiInput-root {
      border-bottom: 1px solid #ffe599;
      color: #ffe599;
      background-color: transparent;

      &:before {
        content: unset;
      }

      &:after {
        border-bottom: 2px solid #ffe599;
      }
    }

    .MuiOutlinedInput-root {
      border-color: #ffe599;
      border: 1px solid #ffe599;
      border-radius: 10px;
      height: 40px;

      @media only screen and (min-width: 541px) {
        height: auto;
      }
    }

    .MuiInputLabel-root {
      color: #ffe599;
      opacity: 70%;
      font-family: "Open Sans", sans-serif;
      line-height: 1em;
      font-size: 0.7em;

      @media only screen and (min-width: 390px) {
        font-size: 1em;
      }
    }

    .valider {
      margin: 20px;
      width: 200px;
      font-weight: bold;
      background-color: #ffe599;
      color: #6a3352;
      letter-spacing: 0.2em;
      border-radius: 10px;

      &-disabled {
        margin: 20px;
        width: 200px;
        font-weight: bold;
        background-color: #ffe599;
        color: #6a3352;
        letter-spacing: 0.2em;
        border-radius: 10px;
        opacity: 0.5;
      }
    }

    a {
      font-size: small;
      color: #ffe599;
    }

    span {
      text-decoration: underline;
    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #6a3352 inset !important;
      -webkit-text-fill-color: #ffe599 !important;
    }
  }
}
