.Homepage {
  width: 100%;
  height: 100%;
  background-color: #6a3352;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Homepage__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    position: relative;
    align-items: center;

    .logo-img {
      width: 100%;
    }

    .logo-title {
      display: flex;
      justify-content: space-around;
      width: 100%;
      color: #ffe599;
      margin-top: 0.5vh;

      span {
        font-size: 50px;
      }
    }
  }
}
