* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
